{% extends 'base_formulaire.html.twig' %}

{% block title %}Départs Employés{% endblock %}

{% block breadcrumb %}DÉPARTS EMPLOYÉS{% endblock %}
{% block  breadcrumb_item %}Départs Employés{% endblock %}
{% block  breadcrumb_t %} Gestion Départs Employés{% endblock %}
{% block form_titre %}>Déclarer le Départ d'un Employé{% endblock %}
{% block formContent %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-12">
        <div class="common-flex justify-content-end">
            <button class="btn btn-outline-success btn-sm b-r-6">
                <i class="fa-solid fa-save"></i>
                Enregistrer
            </button>
            <button class="btn btn-dark ">Annuler</button>
        </div>
    </div>
    {{ form_end(form) }}

    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}
