{% extends 'base_formulaire.html.twig' %}

{% block title %}Enregistrer Entreprise{% endblock %}
{% block breadcrumb %}POSTE{% endblock %}
{% block  breadcrumb_item %} Gestion des entreprises{% endblock %}
{% block  breadcrumb_t %} modifier entreprise{% endblock %}
{% block form_titre %}Modifier une entreprise{% endblock %}
{% block formContent %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-12">
        <div class="common-flex justify-content-end">
            <button class="btn btn-outline-success btn-sm b-r-6">
                <i class="fa-solid fa-check"></i>
                Enregistrer
            </button>
            <button class="btn btn-dark ">Annuler</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
