{% extends 'base_formulaire.html.twig' %}
{% block title %}Maintenances{% endblock %}

{% block breadcrumb %}Maintenances{% endblock %}
{% block  breadcrumb_item %}Maintenances{% endblock %}
{% block  breadcrumb_t %} Gestion des Maintenances{% endblock %}

{% block form_titre %}Ajouter une maintenance{% endblock %}
{% block formContent %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-12">
        <div class="common-flex justify-content-end">
            <button class="btn btn-outline-success btn-sm b-r-6">
                <i class="fa-solid fa-save"></i>
                Enregistrer
            </button>
            <button class="btn btn-dark ">Annuler</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
