{% extends 'base_formulaire.html.twig' %}

{% block title %}Materiels{% endblock %}

{% block breadcrumb %}Materiels{% endblock %}
{% block  breadcrumb_item %}Gestion du materiel{% endblock %}
{% block  breadcrumb_t %}Modifier un matériel{% endblock %}


{% block form_titre %}modifier un matériel{% endblock %}

    {% block formContent %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
<div class="col-12">
    <div class="common-flex justify-content-end">
        <button class="btn btn-outline-success btn-sm b-r-6">
            <i class="fa-solid fa-save"></i>
            Modifier
        </button>
        <button class="btn btn-dark ">Annuler</button>
    </div>
</div>
{{ form_end(form) }}
{#        <script>#}
{#            let marquesVehicules = {{ marquesVehicules|json_encode|raw }};#}

{#            function checkImmatriculationField() {#}
{#                let marqueSelect = document.getElementById("materiel_marque");#}
{#                let immatriculationField = document.getElementById("immatriculationField");#}

{#                if (marqueSelect) {#}
{#                    let selectedMarqueId = parseInt(marqueSelect.value);#}
{#                    if (marquesVehicules.includes(selectedMarqueId)) {#}
{#                        immatriculationField.style.display = "block";#}
{#                    } else {#}
{#                        immatriculationField.style.display = "none";#}
{#                    }#}
{#                }#}
{#            }#}

{#            document.addEventListener("DOMContentLoaded", function() {#}
{#                checkImmatriculationField();#}
{#            });#}
{#        </script>#}
    {% endblock %}
