{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block breadcrumb %}TABLEAU DE BORD{% endblock %}

{% block content %}
    <div class="row">
        <div class="ms-3">
            <h3 class="mb-0 h4 font-weight-bolder">Dashboard</h3>
            <p class="mb-4">Welcome to the Dashboard</p>
            <p class="mb-4">Use this space to display the most important information.</p>
        </div>
        {# 
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Welcome to the Dashboard</h5>
                </div>
                <div class="card-body">
                    <p class="text-sm">Use this space to display the most important information.</p>
                </div>
            </div>
        </div>
        #}
    </div>
{% endblock %}
